<div class="todo-container">
  @for (todo of todoData; track todo.id; let f = $first; let l = $last; let odd
  = $odd; let even = $even) {
  <app-todo
    [todoData]="todo"
    [first]="f"
    [last]="l"
    [odd]="odd"
    [even]="even"
    (onClickIcon)="getTodoInfo($event)"
  ></app-todo>
  } @empty {
  <p>No hay datos</p>
  }
  <!-- *ngFor="
      let todo of todoData;
      let i = index;
      trackBy: trackByFn;
      let f = first;
      let l = last;
      let odd = odd;
      let even = even
    " -->
</div>

<button (click)="orderData()">Ordenar</button>
