<div class="todo-container">
  <app-todo [todoData]="todoData1" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData2" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData3" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData4" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData5" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData1" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData2" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData3" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData4" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData5" (onClickIcon)="getTodoInfo($event)"></app-todo>
  <app-todo [todoData]="todoData6" (onClickIcon)="getTodoInfo($event)"></app-todo>
</div>