<div class="todo-container">
  <!-- <app-todo
    [todoData]="todoData"
    (onClickIcon)="getTodoInfo($event)"
  > -->
  <app-todo
  *ngIf="todoData"
    [todoData]="todoData"
    (onClickIcon)="todoData = null"
  >
    <app-input #inputref placeholder="Nombres"></app-input>
    <app-input #inputref placeholder="Apellidos"></app-input>
    <app-input #inputref placeholder="Edad" type="number"></app-input>
  <div class="comments" style="margin-top: 1rem;">
    <textarea rows="5"></textarea>
  </div>
</app-todo>

<!-- <router-outlet></router-outlet> -->

  <!-- *ngFor="
      let todo of todoData;
      let i = index;
      trackBy: trackByFn;
      let f = first;
      let l = last;
      let odd = odd;
      let even = even
    " -->
</div>
<br>
<br>
<button (click)="orderData()">Ordenar</button>
<button (click)="addTodo()">Agregar</button>
<button (click)="change()">Modificar</button>
